<h1>Sign Up form</h1>
<form method="POST" action="/register">
	<input type="text" name="username" placeholder="name">
	<input type="password" name="password" placeholder="******">
	<button>Submit</button>
</form>